<h1>Library</h1>

<% if user_signed_in? %>
  <p>Signed in as: <%= current_user.email %></p>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
