<%= stylesheet_link_tag "landing", media: "all" %>

<div class="landing-container">
  <header class="landing-header">
    <%= link_to "Enter handa", new_user_session_path, class: "enter-app-btn" %>
  </header>
</div>
