test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

cloudflare:
  service: S3
  access_key_id: <%= ENV['AWS_ACCESS_KEY_ID'] %>
  secret_access_key: <%= ENV['AWS_SECRET_ACCESS_KEY'] %>
  region: auto
  bucket: <%= ENV['AWS_BUCKET'] %>
  endpoint: <%= ENV['AWS_ENDPOINT'] %>
  force_path_style: true
