<!DOCTYPE html>
<html>
  <head>
    <title>handa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "handa-favicon.png" %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
